Package: libtermcapparser-dev
Source: libtermcapparser
Version: 0.60+2009-11-22-1bb50.1
Architecture: amd64
Maintainer: Laszlo Megyer <lez@balabit.hu>
Installed-Size: 52
Depends: libtermcapparser
Section: libs
Priority: optional
Description: The libtermcapparser dev package for ADP
