#! /usr/bin/make -f

export DH_OPTIONS

version := $(shell dpkg-parsechangelog | grep '^Version:' | \
		   sed -e 's/.*\([0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]\).*/\1/')

# If a snapshot, supply an explicit version. Release tarballs work it out
# for themselves.
ifeq (,$(findstring Version,$(version)))
verdef := VER=-DSNAPSHOT="$(version)"
endif

build:
	dh_testdir
	$(MAKE) dep
	$(MAKE) libtermcapparser.so

clean:
	dh_testdir
	-$(MAKE) clean
	dh_clean


binary-libtermcapparser: DH_OPTIONS=-plibtermcapparser
binary-libtermcapparser: build
	dh_testdir
	dh_testroot
	dh_installdirs
	dh_install
	dh_installchangelogs
	dh_makeshlibs
	dh_shlibdeps
	dh_strip
	dh_compress
	dh_fixperms

binary-arch: DH_OPTIONS=-a
binary-arch: binary-libtermcapparser binary-libtermcapparser-dev
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch

binary-libtermcapparser-dev: DH_OPTIONS=-plibtermcapparser-dev
binary-libtermcapparser-dev: build
	dh_testdir
	dh_testroot
	dh_installdirs
	dh_install
	dh_installchangelogs
	dh_compress
	dh_fixperms

.PHONY: build clean binary-arch binary

.PHONY: binary-libtermcapparser binary-libtermcapparser-dev
